.listRow {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}
.paginationNav {
    display: flex;
    justify-content: center;
    color: #fff;
}
.paginationNavInner {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2), 0 16px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    gap: 20px;
    background-image: linear-gradient(
        90deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(35, 69, 121, 1) 70%,
        rgba(38, 76, 129, 1) 85%,
        rgba(57, 115, 177, 1) 100%
    );
    padding: 10px 20px;
    button {
        padding: 0 5px;
    }
    button:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
    span {
        margin: 0 10px;
    }
}
.listEmpty {
    font-size: 32px;
    text-align: center;
    padding-top: 100px;
}
@media (max-width: 1001px) {
    .listRow {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 761px) {
    .listRow {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 521px) {
    .listRow {
        display: block;
    }
    .paginationNavInner {
        gap: 10px;
        padding: 10px 10px;
        span {
            margin: 0 5px;
        }
    }
}
